/EvaluateStrategy/single
/EvaluateStrategy/logs
/EvaluateStrategy/dist
/EvaluateStrategy/bin
/CmdTimer/CmdTimer/bin
/CmdTimer/CmdTimer/obj
/CmdTimer/*.suo
/EST/SzEfile/.settings
/EST/SzEfile/dist
/EST/SzEfile/logs
/EST/SzEfile/*.log
/EST/JXCellDemo/JXCellDemo/bin
/EST/JXCellDemo/JXCellDemo/.settings
/EST/JXCellDemo/JXCellDemo/*.classpath
/EST/JXCellDemo/JXCellDemo/.project
