/EvaluateStrategy/single
/EvaluateStrategy/logs
/EvaluateStrategy/dist
/EvaluateStrategy/bin
/CmdTimer/CmdTimer/bin
/CmdTimer/CmdTimer/obj
/CmdTimer/*.suo
/EST/SzEfile/.settings
/EST/SzEfile/dist
/EST/SzEfile/logs
/EST/SzEfile/*.log
/EST/JXCellDemo/JXCellDemo/bin
/EST/JXCellDemo/JXCellDemo/.settings
/EST/JXCellDemo/JXCellDemo/*.classpath
/EST/JXCellDemo/JXCellDemo/.project
/Millions/FileCompare/FileCompare2/bin
/Millions/FileCompare/FileCompare2/obj
/Millions/Millions/Millions/obj
/Millions/Millions/Millions/bin
/GetTorrent/GetTorrent/bin
/GetTorrent/GetTorrent/obj
/Millions/FileCompare/FileCompare/bin
/Millions/FileCompare/FileCompare/obj
/QuoteServer/.vs/QuoteServer/v14/*.suo
/OvpnClientService/bin
/OvpnClientService/obj
/OvpnClientService/.vs/OvpnClientService/v14/*.suo
